snippet date Current date
	`strftime("%Y-%m-%d")`
snippet datetime Current datetime
	`strftime("%Y-%m-%d %H:%M:%S")`
snippet - a dash, used for concatenating words
	‐
snippet ~ shy, used for hyphenation hints
	­
snippet fn filename
	`expand("%")`
snippet fp full path
	`expand("%:p")`
snippet uuid
	`system("python -c 'import uuid; print(uuid.uuid4())'")`
