# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet datetime
	`strftime("%Y-%m-%d %H:%M:%S")`
snippet ,,
	„
snippet ''
	”
# pause sign. Long dash
snippet --
	—
# simple dash (shorter then minus, used for concatenating words, like thirty-nine)
snippet -
	‐
# this is for hyphenation hints (SHY)
snippet ~
	­
snippet ...
	…
