snippet xhtml
	<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ops="http://www.idpf.org/2007/ops" xml:lang="en">
	<head>
	  <title>${1:title}</title>
	    <link href="css/style.css" type="text/css" rel="stylesheet" />
	    </head>
	    <body>
	        ${2:end}
	    </body>
	</head>
