snippet date "Current date"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet datetime "Current datetime"
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet - "a dash, used for concatenating words"
‐
endsnippet

snippet ~ "shy, used for hyphenation hints"
­
endsnippet

snippet fn "filename"
`!v expand("%")`
endsnippet

snippet fp "full path filename"
`!v expand("%:p")`
endsnippet

# vim:ft=snippets:
